include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include esmlab_regrid *.yaml
recursive-include tests *.py
recursive-include tests *.nc
recursive-include esmlab_regrid *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include versioneer.py
include esmlab_regrid/_version.py
