include LICENSE
include README.rst
include requirements.txt

recursive-include esmlab_regrid *.yaml
recursive-include esmlab_regrid *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune tests*
